{{!< default}}
<section class="wrapper" tabindex="0">
  <div class="wrapper-container">
    <div id="homepage-content" style="text-align:center;">
      <img src="{{@blog.logo}}" alt="liz rush" style="border-radius=50%;-webkit-border-radius: 50%;-moz-border-radius:50%;max-width:200px;">
      <h4>liz rush</h4>
      <h5>(also e.m. rush)</h5>
      <p><small>Junior developer in Seattle, WA and a member of the first cohort of Ada Developers Academy. Currently at Substantial. My background is in digital marketing and technical translation.</p>
      <p>I also enjoy cartooning, zine-making & books. Member of the Ladydrawers artists' collective, with comics appearing in anthologies, zines, and online.</p></small>
    </div>
  </div>
</section>

{{> cover this}}
