{{!< default}}

<section class="wrapper">
  <div class="wrapper-container">
    <article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post {{post_class}}">
      {{#post}}
        <div itemprop="articleBody" class="post-body">
          {{content}}
        </div>
      {{/post}}
    </article>
    {{> footer this}}
  </div>
</section>
{{> cover this}}
