{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>home
  </a>
</li>
<li class="drawer-list-item">
  <a href="/blog" data-pjax>
    <i class="fa fa-pencil"></i>blog
  </a>
</li>
<li class="drawer-list-item">
  <a href="/code" data-pjax>
    <i class="fa  fa-magic "></i>code
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://lizmrush.bigcartel.com/">
    <i class="fa fa-usd"></i>shop
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Social
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/lizmrush" target="_blank">
    <i class="fa fa-twitter"></i>twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/lizrush" target="_blank">
    <i class="fa fa-github"></i>github
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.linkedin.com/in/lizrush" target="_blank">
    <i class="fa fa-linkedin-square"></i>linkedin
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.facebook.com/liz.m.rush" target="_blank">
    <i class="fa fa-facebook-square"></i>facebook
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.youtube.com/user/lizmrush" target="_blank">
    <i class="fa fa-youtube"></i>youtube
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.instagram.com/lizmrush" target="_blank">
    <i class="fa fa-instagram"></i>instagram
  </a>
</li>
